/node_modules
/public/hot
/public/storage
/public/static
/public/*.json
/public/*.js
/public/index.html
/public/*.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
